[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

praw = "*"
indicoio = "*"
watson-developer-cloud = "==0.26.1"
plotly = "*"
matplotlib = "*"
numpy = "*"
regex = "*"


[requires]

python_version = "3.6"
